/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}

.brand-logo{
  font-family: 'Dancing Script', cursive;
  margin-left:100px;
}


nav {
  padding-right:50px;
  background-color: #26a69a;
}


p {
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.button-collapse {
  color: #26a69a;
}

.side-panel {
  border-style: solid;
  border-width:1px;
  border-color:#26a69a;
  padding-bottom:20px;
}

#date-display {
  color: #26a69a;
  margin-top:50px;
}

#book-choice {
  border-top: solid 1px #26a69a;
  border-bottom: solid 1px #26a69a;
  padding: 0 0 8px 0;
}

#host-info h5{
  color: #26a69a;
  text-align:left;
}

.btn {
  margin-left: 70px;
}

.main-panel {
  margin: 50px 50px 10px 50px;
  padding:0 0 0 0;
}

.panel-nav {
  width:100%;
  background:#BCBCBC;
}

#newsPost{
  border-bottom:none;
}

#book-rating{
  margin: 20px 20px 20px 20px;
}

.input-field {
  border: 1px solid;
  width: 100%;
  padding: 40px;
  font-size: 18px;
}

.detail-panel {
  border-style: solid;
  border-width:3px;
  border-color:#26a69a;
  padding-bottom:20px;
  min-height:400px;
  margin:7px 1px 0px 25px;
}

.row .col {
  padding:0;
}

.detail-panel .container {
  padding: 0;
}

.detail-panel h3{
  font-size: 18px;
  font-weight: 400;
}

.collection li {
  padding: 10px;
}

table {
  line-height: 1.0rem;
  padding:0;
  margin:0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

ul, li {
  line-height: : 1px;

}